textarea {
    font-family: 'PT Mono', sans-serif;
    background: #000;
    color: #33cc33;
    border: none;
    resize: none;
    outline: none;
}
#interface {
    position: absolute;
    top: 35%;
}
#logo {
    width: 800px;
    height: 100px;
    background-color: blue;
}
#phaser-example {
    float:left;

    width: 800px;
    height: 600px;
}
#sidebar {
    min-width: 300px;
    height: 600px;
    float:left;
    background-color: #000;
}

#runCode {
    background: none;
    border: 0;
    box-sizing: border-box;
    margin: 1em;
    padding: 1em 2em;

    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
    font-size: inherit;
    font-weight: 700;

    position: relative;
    vertical-align: middle;

    transition: color 0.25s;
}

#runCode::before {
    top: 0;
    left: 0;
}
#runCode::after {
    bottom: 0;
    right: 0;
}
#runCode::before,
#runCode::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    border: 2px solid transparent;
    width: 0;
    height: 0;
}

#runCode:hover {
    color: #33cc33;
}

#runCode:hover::before,
#runCode:hover::after {
    width: 100%;
    height: 100%;
}

#runCode:hover::before {
    border-top-color: #33cc33;
    border-right-color: #33cc33;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

#runCode:hover::after {
    border-bottom-color: #33cc33;
    border-left-color: #33cc33;
    transition: border-color 0s ease-out 0.5s,
    width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
}